<div class="container1">
  <div class="text">ยินดีตอนรับ</div>
</div>

<div class="submit">
  <h1>Submit Tax Filing</h1>
</div>
<div class="stepper">
  <div class="step" [class.active]="currentStep === 1">
    <div class="circle">1</div>
    <div class="label">Input Detail</div>
  </div>
  <div class="line"></div>
  <div class="step" [class.active]="currentStep === 2">
    <div class="circle">2</div>
    <div class="label">Review & Confirm</div>
  </div>
</div>
<div class="box1">
  <div class="title1">Tax Filing Detail</div>
  <div class="line1"></div>
  <div class="text1">Type of filing     Ordinary Filing</div>
  <div class="text2">VAT Month    September 2021</div>
<div class="title2">Tax Computation</div>
  <div class="line2"></div>
  <div class="total">Total value taxable electronic service exclude of VAT</div>
  <div class="total1">Total VAT to be remitted</div>
  <div class="vat">(7% of Total value of taxable electronic service exclude of VAT </div>
  <div class="total2">Total Amount Payable</div>
  <div class="Declaration">Declaration</div>
  <div class="line3"></div>
  <div class="certify">I hereby certify that information given above are true and correct and agree to be bound by such information </div>
</div>
<button class="confirm-btn">Confirm and Submit</button>





